<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-type'>
	</head>
	<body>
		<h1>Salut <%= @admin.first_name %> ! </h1>
		<p>Un nouvel utilisateur s'est inscrit a votre evenement <%= @event.title %>.</p>
		<p>Il s'agit de <%= @user.first_name %>.</p>
		<p>Rendez-vous sur <%= @url %> pour voir votre evenement.</p>
		<p>A bientot</p>
	</body>
</html>
