<div class="container">
	<div class="jumbotron">
		<h1 class="display-6">Bienvenue sur Event Brite</h1>
		<p class="lead"></p>
		<hr class="my-4">
		<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
		<p class="lead">
		<a class="btn btn-primary btn-lg" href="#" role="button">Créer un Évènement</a>
		</p>
	</div>

	<div class="container d-flex">
		<div class="row justify-content-between align-items-center mx-auto">
			<% Event.all.each do |each_event| %>	
				<div class="col-lg-4 col-md-6 col-sm-12 my-2">
					<div class="card mx-auto" style="width: 14rem; height: 18rem;">
						<img class="card-img-top" src="https://dummyimage.com/280x140/c215c2/fff&text=event_bg_img" alt="Card image cap"> 
						<div class="card-body p-3">
							<p class="small card-subtitle"><%= each_event.start_date %></p>
							<p class="card-title"><b><%= each_event.title %></b></p>
							<p class="card-text text-truncate"><%= each_event.description %></p>
							<%= link_to "Voir l'Évènement", event_path(each_event.id), class: "btn btn-primary" %>

						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>
